.historyComponent {
  background-color: dimgray;
  padding-bottom: 24rem;
}

.historyHeader {
  padding-left: 2rem;
  padding-top: 2rem;
}

.historyName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin-right: 2rem;
  color: white;
  text-align: center;
}

.eachHistory {
  margin: 2.5rem;
}

.cutName {
  text-align: center;
}

.historyContent {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 2rem;
}

.emptyHistoryList {
  padding-top: 4rem;
}

.emptyHistoryMessage {
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  padding-bottom: 2rem;
}

.backButton {
  margin-left: 10rem;

  padding-bottom: 2rem;
  font-size: large;
}

.historyButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.deleteHistoryButton {
  margin-left: 1rem;
}

.editCommentButton {
  margin-left: 1.5rem;
}

.editHistoryForm {
  margin: 1em;
}

.cancel {
  margin-left: 1rem;
}

.delete {
  margin: 1em;
}
