.historyComponent {
  background-color: lightslategray;
  padding-bottom: 36rem;
}

.HistoryHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-top: 2rem;
}

.historyName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin-right: 2rem;
  color: white;
}

.eachHistory {
  margin: 2.5rem;
  padding: 2rem;
}

.historyContent {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 2rem;
}

.emptyHistoryList {
  padding-top: 4rem;
}

.emptyHistoryMessage {
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  padding-bottom: 2rem;
}

.backButton {
  margin-left: 10rem;

  padding-bottom: 2rem;
  font-size: large;
}
